/*size*/
$baseFontSize: 10px;

/* colors */

$darkText: rgba(0, 0, 0, 1);
$darkIcon: rgba(69, 68, 68, 1);
$p700: rgba(74, 85, 104, 1);
$p600: rgba(113, 128, 150, 1);
$h800: rgba(45, 55, 72, 1);

$forCard100: rgba(247, 250, 252, 1);
$forHeaderCard: rgba(251, 251, 251, 1);
$btnBG: rgba(107, 70, 193, 1);